#grid_index {
    display:grid;
    min-height: 100vh;
    gap: 0.5vw;
    grid-template-columns: 14vw 70vw 14vw;
    grid-template-rows: 30vh 10vh auto auto 50vh 40vh 20vh;
    grid-template-areas: 
    'hd hd hd'
    'nv nv nv'
    't1 s1 t2'
    't1 s2 t2'
    't1 s3 t2'
    't1 s4 t2'
    'ft ft ft';
}
#grid_shop {
    display: grid;
    min-height: 100vh;
    gap: 0.5vw;
    grid-template-columns: 14vw 70vw 14vw;
    grid-template-rows: 30vh 10vh auto 170vh 15vh 30vh 20vh;
    grid-template-areas: 
    'hd hd hd'
    'nv nv nv'
    't1 ss1 t2'
    't1 ss2 t2'
    't1 ss3 t2'
    't1 ss4 t2'
    'ft ft ft';
}
#grid_gallery {
    display: grid;
    min-height: 100vh; 
    gap: 0.5vw; 
    grid-template-columns: 14vw 70vw 14vw;
    grid-template-rows: 30vh 10vh 40vh 40vh 40vh 40vh 10vh 30vh 20vh;
    grid-template-areas: 
    'hd hd hd'
    'nv nv nv'
    't1 gs1 t2'
    't1 gs2 t2'
    't1 gs3 t2'
    't1 gs4 t2'
    't1 ss3 t2'
    't1 gs5 t2'
    'ft ft ft';
}
body {
    overflow-x: hidden;
    font-family: 'Oswald', sans-serif;
}
header {
    grid-area: hd;
    background-color: #c0392b;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    grid-area: nv;
    font-size: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#s1 {
    grid-area: s1;
}
#s2 {
    grid-area: s2;
}
#s3 {
    grid-area: s3; 
}
.about {
    display: flex;
    gap: 20px;
}
#s4 {
    grid-area: s4; 
}
#tom1 {
    grid-area: t1;
}
#tom2 {
    grid-area: t2;
}
footer {
    grid-area: ft; 
    background-color: #c0392b;    
}
#ss1 {
    grid-area: ss1;
}
#ss2 {
    grid-area: ss2;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
}
#ss3 {
    grid-area: ss3;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ss4 {
    grid-area: ss4;
}
#gs1 {
    grid-area: gs1;
}
#gs2 {
    grid-area: gs2;
}
#gs3 {
    grid-area: gs3;
}
#gs4 {
    grid-area: gs4;
}
#gs5 {
    grid-area: gs5;
}
a {
    color:black; 
    text-decoration: none;
}
a:hover {
    color: #c0392b;  
}
h2,
h3 {
    font-size: 4em;
    font-family: 'Courgette', cursive;
}
h1 {
    font-size: 6em;
    font-family: 'Courgette', cursive;
}
h4 {
    font-size: 2em;
}
h4:hover {
    color: #c0392b;
}
p {
    font-size: 2.5em;
}
.cards {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    width: 500px;
}
.cards:hover {
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
}
.text {
    padding: 4px 16px;
} 
.card {
    border-radius: 10px 10px 0 0;
}
.load {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 4px 16px;
    width: 150px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.load:hover {
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
}
.info {
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
}
.textinfo {
    padding: 20px;
}
.imginfo {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}